@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-select: none;
  }

  input, textarea {
    user-select: text;
    -webkit-user-select: text;
  }
}
